<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ArrivalPlace" value="Минск"/>
    <add key="ArrivalCountry" value="Москва"/>
    <add key="EmailAdress" value="veraksa161"/>
    <add key="Message" value="Hello"/>
    <add key="AdressOfEmail" value="veraksa161@gmail.com"/>
  </appSettings>
</configuration>